

.img{
    max-width: 100%;
}


.box-model{
    width: 200px;
    height: 200px;  
}

.night-mode{
    background: #444;
    color:#fff;
}


.ancestors *,
.descendants * { 
  display: block;
  border: 2px solid lightgrey;
  color: lightgrey;
  padding: 5px;
  margin: 15px;
}

